body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.dog {
    width: 30px;
    height: 30px;
    background-color: aliceblue;
}

.bong {
    width: 30px;
    height: 30px;
    background-color: aqua;
}

.potato {
    width: 30px;
    height: 30px;
    background-color: beige;
}
.seoi {
    width: 30px;
    height: 30px;
    background-color: bisque;
}
.liah {
    width: 30px;
    height: 30px;
    background-color: blanchedalmond;
}